In [1]:
#Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

## Q1. Write a code to print the data present in the second row of the dataframe, df.

In [11]:
df.iloc[1:2]

        course_name  duration
1  Machine Learning         3

## Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

#### loc: The loc function is used for label-based indexing. It allows you to access data based on labels or index names. When using loc, you need to specify the row and column labels explicitly. It uses inclusive slicing, meaning both the start and end indices are included.

#### iloc: The iloc function is used for integer-based indexing. It allows you to access data based on integer positions. When using iloc, you need to specify the row and column positions explicitly. It uses exclusive slicing, meaning the start index is included, but the end index is excluded.

## Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [12]:
reindex = [3,0,1,2]

In [13]:
new_df = df.reindex(reindex)

In [14]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [15]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [16]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## Did you observe any difference in both the outputs? If so then explain it.

#### The label based indexing (loc) returns the row based on the new indexes after reindexing, while integer based indexing (iloc) returns the row based on the new positions after reindexing.

In [17]:
#Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [18]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.532417  0.849262  0.863795  0.841969  0.559719  0.822596
2  0.435358  0.798317  0.227853  0.603978  0.961871  0.400883
3  0.128930  0.177867  0.416607  0.517095  0.316673  0.136012
4  0.893315  0.149410  0.608161  0.804671  0.022304  0.358559
5  0.781088  0.699894  0.734329  0.958126  0.392303  0.742030
6  0.633255  0.626088  0.844129  0.067154  0.135985  0.784882

## Q4. Write a code to find the following statistical measurements for the above dataframe df1:
### (i) mean of each and every column present in the dataframe.
### (ii) standard deviation of column, ‘column_2’

### >>(i) mean of each and every column present in the dataframe.

In [21]:
column_means = df1.mean()

In [22]:
column_means

column_1    0.567394
column_2    0.550139
column_3    0.615812
column_4    0.632165
column_5    0.398142
column_6    0.540827
dtype: float64

### >>(ii) standard deviation of column, ‘column_2’¶

In [25]:
df1['column_2'].std()

0.3093320251097803

## Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
## If you are getting errors in executing it then explain why.
### [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [26]:
df1.loc[2, 'column_2'] = 'hi'

In [27]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.532417  0.849262  0.863795  0.841969  0.559719  0.822596
2  0.435358        hi  0.227853  0.603978  0.961871  0.400883
3  0.128930  0.177867  0.416607  0.517095  0.316673  0.136012
4  0.893315   0.14941  0.608161  0.804671  0.022304  0.358559
5  0.781088  0.699894  0.734329  0.958126  0.392303  0.742030
6  0.633255  0.626088  0.844129  0.067154  0.135985  0.784882

In [28]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

#### The error occurs because the DataFrame df1 expects numeric values in 'column_2', but we attempted to assign a string value ('hi') to it. Mixing different data types within a column is not allowed in Pandas DataFrames.

## Q6. What do you understand about the windows function in pandas and list the types of windows functions?

#### In Pandas, the "window functions" refer to a group of functions that operate on a set of values over a specified window or interval. These functions allow for efficient computation and analysis of data based on sliding or rolling windows.
### Type of window functions:

#### Rolling Window
#### Expanding Window
#### Exponential Weighted Window

## Q7. Write a code to print only the current month and year at the time of answering this question.
### [Hint: Use pandas.datetime function]

In [31]:
cur_date = pd.Timestamp.now()
cur_month = cur_date.month
cur_year = cur_date.year

print("Current month:", cur_month)
print("Current year:", cur_year)

Current month: 7
Current year: 2023

## Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [40]:
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")
time1 = pd.Timestamp(date1)
time2 = pd.Timestamp(date2)
time_diff = time1-time2
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

# Display the result
print("Difference between the dates:")
print("Days:", days)
print("Hours:", hours)
print("Minutes:", minutes)

Enter the first date (YYYY-MM-DD):  2022-01-15
Enter the second date (YYYY-MM-DD):  2022-02-02

Difference between the dates:
Days: -18
Hours: 0
Minutes: 0

## Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [4]:
import pandas as pd
import os
print(os.getcwd())

/home/jovyan/work

In [48]:
file_path = input("Enter the file path: ")
data = pd.read_csv(file_path)
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated values): ")
data[column_name] = pd.Categorical(data[column_name], categories=category_order.split(','), ordered=True)
sorted_data = data.sort_values(by=column_name)
print("Sorted Data:", sorted_data)

Enter the file path:  /home/jovyan/work/taxonomy.csv
Enter the column name:  parent_id
Enter the category order (comma-separated values):  101,103

Sorted Data:     taxonomy_id                          name parent_id           parent_name
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
9        101-03                Emergency Food       101             Emergency
10       101-04             Emergency Shelter       101             Emergency
11       101-05     Help Find Missing Persons       101             Emergency
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights       NaN  Advocacy & Legal Aid
286      111-02                     Mediation       NaN                 Legal
287      111-03                        Notary       NaN                 Legal
288      111-04                Representation       NaN                 Legal
289      111-05  Translation & Interpretation       NaN                 Legal

[290 rows x 4 columns]

## Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [49]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
file_path = input("Enter the file path: ")
data = pd.read_csv(file_path)
data['Date'] = pd.to_datetime(data['Date'])
grouped_data = data.groupby(['Date', 'Category'])['Sales'].sum().unstack()
grouped_data.plot(kind='bar', stacked=True)
# Set labels and title
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales by Product Category')
plt.show()


## Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
## The program should do the followingM
### > Prompt the user to enter the file path of the CSV file containing the student dataR
### > Read the CSV file into a Pandas DataFrameR
### > Calculate the mean, median, and mode of the test scores using Pandas toolsR
### > Display the mean, median, and mode in a table.
## Assume the CSV file contains the following columnsM
### > Student ID: The ID of the studentR
### > Test Score: The score of the student's test.

In [1]:
import csv

data = [
    ["Student ID", "Test Score"],
    [1, 85],
    [2, 90],
    [3, 80],
    [4, 75],
    [5, 85],
    [6, 82],
    [7, 78],
    [8, 85],
    [9, 90],
    [10, 85]
]

file_path = "student_data.csv"

with open(file_path, "w", newline="") as csvfile:
    writer = csv.writer(csvfile)
    writer.writerows(data)

In [2]:
import pandas as pd

In [5]:
file_path = input("Enter the file path: ")
data = pd.read_csv(file_path)
mean = data['Test Score'].mean()
median = data['Test Score'].median()
mode = data['Test Score'].mode().values[0]
result = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                       'Value': [mean, median, mode]})
print(result)

Enter the file path:  /home/jovyan/work/student_data.csv

  Statistic  Value
0      Mean   83.5
1    Median   85.0
2      Mode   85.0